<h1>Update Account</h1>
<%- include('../partials/messages') %>

<form action="/account/update" method="POST">
  <label for="firstname">First Name</label>
  <input type="text" name="account_firstname" value="<%= account_firstname %>" required>

  <label for="lastname">Last Name</label>
  <input type="text" name="account_lastname" value="<%= account_lastname %>" required>

  <label for="email">Email</label>
  <input type="email" name="account_email" value="<%= account_email %>" required>

  <input type="hidden" name="account_id" value="<%= account_id %>">
  <input type="submit" value="Update Account">
</form>

<hr>

<h2>Change Password</h2>
<form action="/account/update-password" method="POST">
  <label for="newPassword">New Password</label>
  <input type="password" name="account_password" required>
  <p>Password must be at least 12 characters and contain a number, capital letter and special character.</p>

  <input type="hidden" name="account_id" value="<%= account_id %>">
  <input type="submit" value="Change Password">
</form>
