<%- include('../partials/header') %>
<%- include('../partials/nav', { nav }) %>

<h1>Delete <%= invMake %> <%= invModel %></h1>
<p>Confirm Deletion - The delete is permanent.</p>

<form action="/inv/delete" method="post">
  <input type="hidden" name="inv_id" value="<%= inv_id %>">
  
  <label>Make:</label>
  <input type="text" value="<%= invMake %>" readonly><br>

  <label>Model:</label>
  <input type="text" value="<%= invModel %>" readonly><br>

  <label>Year:</label>
  <input type="text" value="<%= invYear %>" readonly><br>

  <label>Price:</label>
  <input type="text" value="$<%= invPrice %>" readonly><br>

  <input type="submit" value="Delete">
</form>

<%- include('../partials/footer') %>
